* {
    color: #35979e;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    margin: auto;
    margin-top: 2vw;
    width: 40vw;
    background-color: rgb(115, 255, 201);
    border-radius: 10px;
    padding: 1vw;
}

.title-container {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    height: 2vw;
    width: 15vw;
}

.title {
    font-size: x-large;
}

.main-form-container {
    margin-top: 1vw;
    border-radius: 10px;
    border: 3px solid aliceblue;
    width: 70%;
    padding: 10px;
}

.user-form {
    padding: 10px;
    border: 3px solid aliceblue;
    border-radius: 10px;
}

.question-form {
    padding: 10px;
    margin-top: 1vw;
    border: 3px solid aliceblue;
    border-radius: 10px;
}

.form-content {
    margin-left: 1vw;
}

input {
    border-radius: 5px;
}
