{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dm.css') }}">
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p><strong>{{msg}}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="main-container">
        <div class="header">
            <div class="title-container">
                <div class="title-container-inner">
                    <h2>DM with {{first_name}}</h2>
                </div>
            </div>
            <div class="navigation-container">
                <div class="home-link-container">
                    <a href="{{ url_for('portfolio') }}">
                        <button id="home-button"><img src="{{ url_for('static', filename='images/icons/home.png') }}" alt="home"></button>
                    </a>
                </div>
                <div class="back-link-container">
                    <a href="{{ url_for('other_user_portfolio', other_user=_with) }}">
                        <button id="back-button">Back</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="chat-container">
                <div class="chat-content">
                    {% for message in messages %}
                        <div class="message">
                            <p>
                                {{message[2]}} | {{message[1]}}
                                <br>
                                {{message[0]}}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="new-message-container">
                    <div class="send-container-inner">
                        <input type="text" id="send-input" placeholder="Enter new message..." autofocus>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/direct_messages.js') }}"></script>
    
{% endblock %}
