{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p><strong>{{msg}}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="main-container">
        <div class="left-container">
            <div class="title-container">
                <div class="title-container-inner">
                    {% if is_owner %}
                        <h1>My portfolio</h1>
                    {% endif %}
                    {% if not is_owner %}
                        <h2>{{user}}'s portfolio</h2>
                    {% endif %}
                </div>
            </div>
            <div class="logout-link-container">
                <a href="{{ url_for('logout') }}"><button class="logout-button">Logout</button></a>
            </div>
            {% if not is_owner %}
                <div class="home-link-container">
                    <div class="link-container-inner">
                        <a href="{{ url_for('portfolio') }}">
                            <button class="home-button"><img src="{{ url_for('static', filename='images/icons/home.png') }}" alt="home"></button>
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="introduction-container">
                {% if is_owner %}
                    <p>
                        This is your programming portfolio. Start by adding a profile photo of your self.
                    </p>
                {% endif %}
                {% if not is_owner %}
                    <br>
                {% endif %}
                <div class="profile-picture-container">
                    <div class="profile-picture-outer">
                        <div class="picture-inner">
                            {% if has_profile_pic %}
                                <img src="{{ url_for('static', filename='images/user_pic' + profile_pic_id + '.png') }}" alt="profile picture" height="50" id="profile-picture">
                            {% endif %}
                            {% if not is_owner %}
                                {% if not has_profile_pic %}
                                    <div class="no-profile-pic">
                                        <h3>{{user}} has no profile picture</h3>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% if is_owner %}
                        <div class="new-pic-container">
                            <input type="file" id="photo-file">
                            <div class="submit-container">
                                <p>
                                    <button id="submit-photo">Submit</button>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    {% if not is_owner %}
                        <div class="send-message-container">
                            <a href="{{ url_for('messages', other_user=username) }}"><button class="link-messages-button">Send a message</button></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="user-content">
                <div class="top-container">
                    
                    <div id="popup-box">
                        <div id="bg-mask">
                            <div id="popup-content">
                            </div>
                            <div id="close-button-container">
                                <button onclick="popup.hide()">Ok</button>
                            </div>
                        </div>
                    </div>
                    <div class="top-left-container">
                        <div class="header">
                            <div class="subtitle-container">
                                {% if is_owner %}
                                    <h2>Write a bit about yourself</h2>
                                {% endif %}
                                {% if not is_owner %}
                                    <h2>About {{user}}</h2>
                                {% endif %}
                            </div>
                            {% if is_owner %}
                                <div class="description">
                                    <p>Here you can introduce yourself, so that other people that go to your profile get to know you better.</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="about-container">
                            <div class="introduction-text-box-container">
                                {% if is_owner %}
                                    <textarea id="intro-text-box" cols="30" rows="5" placeholder="Tell us about yourself...">{{intro}}</textarea>
                                    <div class="submit-container">
                                        <div class="save-button">
                                            <button id="save-introduction">Save</button>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if not is_owner %}
                                    <div class="introduction-text-container">
                                        <p>{{intro}}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="search-container">
                        <div class="description">
                            <p>Search for other users with their username</p>
                        </div>
                        <div class="main-search-container">
                            <div class="search-box-container">
                                <input type="text" id="search-user" placeholder="Search...">
                            </div>
                            <div id="users-auto-complete"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-container">
                    <div class="merits">
                        <div class="description">
                            <div class="subtitle-container">
                                {% if is_owner %}
                                    <h2>Your merits</h2>
                                {% endif %}
                                {% if not is_owner %}
                                    <h2>{{user}}'s Merits</h2>
                                {% endif %}
                            </div>
                            <div style="margin-left: 0.5vw;">
                                {% if is_owner %}
                                    <p>
                                        Add different programming skills that you possess and at what level
                                    </p>
                                {% endif %}
                                {% if not is_owner %}
                                    <p>
                                        {{user}}'s programming skills and merits
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="main-merits-container">
                            <div class="merits-container">
                                <div class="user-merits">
                                    {% for topic in topics %}
                                        <div class="merit-container-outer" id="{{topic[0]}}">
                                            {% if is_owner %}
                                                <div class="delete-button-container">
                                                    <button class="delete-button" onclick="deleteMerit('{{topic[0]}}')">
                                                        <img src="{{ url_for('static', filename='images/icons/delete.png') }}" alt="delete">
                                                    </button>
                                                </div>
                                            {% endif %}
                                            <div class="merit-container">
                                                <div class="topic-name-container"><p>{{topic[0]}}</p></div>
                                                <div class="level-container">
                                                    <p>{{topic[1]}}</p>
                                                    {% if is_owner %}
                                                        <div class="change-level-container">
                                                            <div class="improve-level">
                                                                <button class="improve-button" onclick="changeLevel(1, '{{topic[0]}}', '{{topic[1]}}')">▲</button>
                                                            </div>
                                                            <div class="decrease-level">
                                                                <button class="decrease-button" onclick="changeLevel(-1, '{{topic[0]}}', '{{topic[1]}}')">▼</button>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if is_owner %}
                                    <div class="new-merit-container">
                                        <input type="text" id="new-merit" placeholder="Search...">
                                    </div>
                                {% endif %}
                            </div>
                            {% if is_owner %}
                                <div id="merits-auto-complete"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="education-container">
                        <div class="subtitle-container">
                            <div class="education-subtitle-inner">
                                <h2>Education</h2>
                            </div>
                        </div>
                        <div class="description">
                            {% if is_owner %}
                                <p>Add information about your education</p>
                            {% endif %}
                            {% if not is_owner %}
                                <p>{{user}}'s education</p>
                            {% endif %}
                        </div>
                        <div class="user-merits">
                            {% for topic in education %}
                                <div class="merit-container-outer" id="{{topic[0]}}">
                                    {% if is_owner %}
                                        <div class="delete-button-container">
                                            <button class="delete-button" onclick="deleteEducationMerit('{{topic[0]}}')">
                                                <img src="{{ url_for('static', filename='images/icons/delete.png') }}" alt="delete">
                                            </button>
                                        </div>
                                    {% endif %}
                                    <div class="merit-container">
                                        <div class="topic-name-container"><p>{{topic[0]}}</p></div>
                                        <div class="level-container">
                                            <p>{{topic[1]}}</p>
                                            {% if is_owner %}
                                                <div class="change-level-container">
                                                    <div class="improve-level">
                                                        <button class="improve-button" onclick="changeEducationLevel(1, '{{topic[0]}}', '{{topic[1]}}')">▲</button>
                                                    </div>
                                                    <div class="decrease-level">
                                                        <button class="decrease-button" onclick="changeEducationLevel(-1, '{{topic[0]}}', '{{topic[1]}}')">▼</button>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% if is_owner %}
                            <div class="new-merit-container">
                                <input type="text" id="new-education-topic" placeholder="Search...">
                                <div id="subjects-auto-complete"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>

    
{% endblock %}
